<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="VSSDK.IDE.10" version="10.0.4" targetFramework="net452" />
  <package id="VSSDK.Shell.Immutable.10" version="10.0.4" targetFramework="net452" />
  <package id="Xceed.Products.Wpf.Toolkit.Base" version="3.7.18313.20590" targetFramework="net452" />
  <package id="Xceed.Wpf.Toolkit" version="3.7.18313.20590" targetFramework="net452" />
</packages>